body{
font-family: Arial, sans-serif;
margin:0;
background:#fafafa;
color:#333;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
position:sticky;
top:0;
}

.logo{
font-weight:bold;
font-size:22px;
color:#d96a8a;
}

nav a{
margin-left:25px;
text-decoration:none;
color:#444;
font-weight:500;
}


.hero{
text-align:center;
padding:40px 20px;
background:#f7e9ee;
}


.profile{
width:140px;
height:140px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
}

.hero h1{
font-size:36px;
margin:10px 0;
}

.hero p{
max-width:600px;
margin:auto;
line-height:1.6;
}


section{
padding:50px 100px;
}


h2{
color:#d96a8a;
margin-bottom:20px;
}



#about p{
max-width:800px;
line-height:1.7;
}



.skills-container{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skill{
background:#f1cfd8;
padding:12px 20px;
border-radius:20px;
font-size:15px;
}



.projects-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}


.project{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
text-align:center;
}


.project h3{
margin-bottom:15px;
}


.project-image{
height:180px;
margin-bottom:15px;
overflow:hidden;
opacity:0;
transition:0.3s;
}


.project-image img{
width:100%;
height:100%;
object-fit:cover;
border-radius:10px;
}


.project:hover .project-image{
opacity:1;
}


.project p{
font-size:14px;
line-height:1.6;
}


#contact{
text-align:center;
}
